.rag-red {
    background-color: #cc222244;
  }

.ag-theme-quartz {

    height: 700px;
    width: 90%;
    .ag-header {
      background-color: #f0f0f0;
      color: #333;
      font-weight: bold;

    }
    
    .ag-cell {
      border: 0 solid #ccc;
      width: auto;
      width: fit-content;
    width: 12px;
    }
  }
  